task1/checkpoints/resnet18_pretrained=True_lr=0.001_epochs=50_best.pth filter=lfs diff=lfs merge=lfs -text
task2/runs/yolov8n_vehicle/weights/best.pt filter=lfs diff=lfs merge=lfs -text
task3/checkpoints/unet_loss=combined_lr=0.001_epochs=20_best.pth filter=lfs diff=lfs merge=lfs -text
